/* .Navbar {
  height: 80px;
  background-color: gray;
  position: sticky;
  top: 0;
  z-index: 4;
} */

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

nav {
    position: fixed;
    z-index: 1;
    top:0px;
    width: 100%;
  
    height: 70px;
    

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
    color: white;
  
    padding-left: 25px;
    padding-right: 25px;
    letter-spacing: 3px;

}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    list-style: none;
    font-weight: bold;
}

li{
    cursor: pointer;
    margin-left: 35px;
    margin-right: 35px;
}

a{
    text-decoration: none;
    color: white;
    
}

.content{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: crimson;
    margin: 30px;
    border-radius: 30px;
}

.content-header{
 color: white;
}

main{
    position: relative;
    z-index: 1;
    top:90px
}

/* card.jsx */
.card {
  width: 30%;
  height: 80vh;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: green;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: 1s;

}

.card:hover{

  scale: 1.2
}

.navicon{
  display: none;
}

/* @media screen and (max-width:768px){
  nav{
    font-size: 13px;
  }
} */

@media screen and  (max-width:768px){
nav{
  font-size: 12px;

}

li{
  margin-left: 10px;
  margin-right: 10px;
}


}


@media screen and  (max-width:500px){
  nav,h3{
    font-size: 11px;

  
  }
  nav{
    padding-left: 5px;
    padding-right: 5px;
  }
  
  li{
    margin-left: 8px;
    margin-right: 8px;
  }

  .homeabout{
    display: none;
  }
  .navicon{
    display: inline-block;
    margin-left: 10px;
  }
  
  }