.parent{
    display: flex;
    flex-direction: column;
}

.first{
    width: 40%;
    margin: auto;
    
    

}


.second{
    width: 60%;
    height: 300px;
    display:flex ;
    margin: auto;
    padding: 10px;
    /* margin-top: 20px; */
    /* border: 1px solid red; */
    justify-content: center;
}


@media screen and (max-width:1099px) {

    .first>a>img{
        width: 350px;
    }
    .second>a>img{
        width: 250px;
    }
}

@media screen and (max-width:696px) {
    .first{
        width: 50%;
    }
    .second{
        width: 100%;
    }

    .first>a>img{
        width: 350px;
    }
    .second>a>img{
        width: 250px;
    }
}


@media screen and (max-width:518px) {
    .first{
        width: 50%;
    }
    .second{
       
        width: 100%;
    }

    .first>a>img{
        width: 200px;
    }
    .second>a>img{
        width: 150px;
    }
}